#galery-a {

    text-decoration: underline;
}

/* GRID OF IMAGES */

.image-grid {

    width: 60%;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 20px;
}

.row, .column {

    box-sizing: border-box;
}


.row {

    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* 2 equal columns by default */

.column {

    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    

}

.column img {

    vertical-align: middle;
    width: 100%;
}

/* Image container for image and overlay (text on top of image) */

.image-container {

    position: relative;
    margin-top: 8px;
}

.overlay {

    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 100%;
    padding: 12px;
    opacity: 0;

    transition: 0.5s ease;
    -webkit-backdrop-filter: -webkit-blur(2px);
    backdrop-filter: blur(2px);

    font-family: "Ubuntu", serif;

}

.image-container:hover .overlay {

    opacity: 1;
}

/* ******************** */

/* MOBILE RESPONSIVE - 1 column */

@media only screen and (max-width: 768px) {

    .image-grid {

        width: 90%;
    }

    .column {

        flex: 100%;
        max-width: 100%;
    }
    
}

/* ******************** */