
/* FONTS FROM GOOGLE API */

@import url("https://fonts.googleapis.com/css?family=Ubuntu|Indie Flower|Rampart One");


/* BODY RESET TO MAKE USE OF FULL WIDTH */

body {

    background-color: white;
    margin: 0;
    padding: 0;
}

/* ******************** */


/* HEADER + NAVIGATION BAR */

header {

    background-image: linear-gradient(to right, rgb(12, 170, 223), silver);
    text-align: center;
    color: black;
    padding: 60px;

}

header h2 {

    padding: 5px;
    margin: 20px;
    font-size: 15px;
    font-family: "Ubuntu", serif;
    position: absolute;
    right: 10%;

    background: linear-gradient(to right, red,brown, green);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav {

    overflow: hidden;
    width: fit-content;
    margin: auto;

}

h1 {

    font-family: "Rampart One", sans-serif;
    font-size: 50px;
}



nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {

    background-color: black;
    float: left;
}

nav ul li a {

    font-family: "Ubuntu", serif;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    background-color: white;
    color: black;
}

/* ******************** */

/* FOOTER */

footer {

    font-family: "Ubuntu", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;
}

/* ******************** */
