
/* FONTS FROM GOOGLE API */

@import url("https://fonts.googleapis.com/css?family=Ubuntu|Indie Flower|Rampart One");


/* BODY RESET TO MAKE USE OF FULL WIDTH */

body {

    background-color: white;
    margin: 0;
    padding: 0;
}

/* ******************** */

/* Reset for fontawesome icons and links in general */

a, a:hover {
    color: inherit;
    text-decoration: none;
}

/* ******************** */


/* HEADER + NAVIGATION BAR */

header {

    background-image: linear-gradient(to right, rgb(12, 170, 223), silver);
    text-align: center;
    color: black;
    padding: 5px 40px 5px 40px;

}

/* Container for header tags */

#tags-list {

    width: 80%;
    margin: auto;
    padding: 0;
    

    display: flex;
    list-style: none;
    justify-content: flex-end;
}

#tags-list li {

    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Ubuntu", serif;
    right: 10%;
    margin: 6px 0;

	background: linear-gradient(to right, red, purple);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#tags-list li::before {

    content: "# ";
}

nav {

    overflow: hidden;
    width: fit-content;
    margin: auto;

}

header h1 {

    font-family: "Rampart One", sans-serif;
    font-size: 50px;
    margin: 25px;
}


nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {

    float: left;

}

nav ul li a {

    font-family: "Ubuntu", serif;
    display: block;
    margin: 15px 15px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
}

nav ul li a:hover {

    color: black;
    background-color: white;

}

/* ******************** */

/* FOOTER */

footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: "Ubuntu", serif;
}



/* ******************** */

/* UP BUTTON */

#scroll-to-top-btn {

    border: none;

    display: none;

    font-weight: bold;

    position: fixed;
    bottom: 120px;
    right: 100px;
    width: 50px;
    height: 50px;

    border-radius: 25%;

    background-image: linear-gradient(180deg, #28B463, #F4D03F);
}

#scroll-to-top-btn:hover {

    cursor: pointer;
    
}

#scroll-to-top-btn .up-arrow {

    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);

  }

  /* MOBILE RESPONSIVE */

  @media only screen and (max-width: 768px) {

        #scroll-to-top-btn {

            right: 35px;
        }

        nav ul li {

            float: none;
        }

        header h1 {

            font-size: 40px;
        }

        #tags-list {

            justify-content: center;
        }

    
  }
  
