
#members-a {

    text-decoration: underline;
}

/* MEMBERS */

.member-title {

    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


.member-title::before {

    content: "[ ";
}

.member-title::after  {

    content: " ]";
}

.member {

    margin-bottom: 50px;
}


.member {

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.member-phrase {

    font-size: larger;
    margin-left: 40px;
    margin-right: 40px;
}

.member:nth-of-type(even) {

    flex-direction: row-reverse;
  
}


/* ******************** */

/* MOBILE - Responsive flexbox layout */

@media only screen and (max-width: 768px) {

    .member {

        flex-direction: column !important;
    }
    
}


/* ******************** */


/* MEMBER INFORMATION */

.member-info {

    width: fit-content;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.member-info p {

    line-height: 1.5;
    font-size: 20px;
    margin: 0;
    
}

.member-info hr {

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    background-color: black;
}

.social-media-list {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.social-media-list li {

    float: left;
    margin-right: 5px;
}

.member-info i {

    font-size: 24px;
    margin-right: 5px;
}