
#members-a {

    text-decoration: underline;
}

/* MEMBERS */

.member-title {

    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}


.member-title::before {

    content: "[ ";
}

.member-title::after  {

    content: " ]";
}

.member {

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.member:nth-of-type(even) {

    flex-direction: row-reverse;
  
}

.member-phrase {

    box-sizing: border-box;

    font-size: 15px;
    font-family: "Poppins", serif;

    width: 300px;
    text-align: center;

    padding: 5px;

    -webkit-box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    box-shadow:  0px 0px 15px 1px rgba(0, 0, 0, 0.3);

    flex-shrink: 2;
}

.member img {

    display: block;
    width: 300px;
    height: 200px;
   
}


/* ******************** */


/* ******************** */


/* MEMBER INFORMATION */

.member-info {

    width: fit-content;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.member-info p {

    font-family: Handlee, sans-serif;
    line-height: 1.5;
    font-size: 24px;
    margin: 0;
    
}

.member-info hr {

    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    color: black;
}

.social-media-list {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.social-media-list li {

    float: left;
    margin-right: 5px;
}

.member-info a {

    font-size: 24px;
    margin-right: 5px;
    display: block;

    transition: 0.25s ease;
}

.member-info a:hover {

    color: var(--main-color);
    transform: rotate(20deg);
}

/* MOBILE - Responsive flexbox layout */

@media only screen and (max-width: 900px) {

    .member {

        flex-direction: column !important;
    }
    
}

@media only screen and (max-width: 600px) {

    .member-info p {

        font-size: 20px;
    }
    
}