
body {

    background-color: white;
    margin: 0;
    padding: 0;
}

/* HEADER + NAVIGATION BAR */

header {

    background-image: linear-gradient(to right, rgb(12, 170, 223), silver);
    text-align: center;
    color: black;
    padding: 60px;

}

nav {

    overflow: hidden;
    width: fit-content;
    margin: auto;

}



nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {

    background-color: black;
    float: left;
}

nav ul li a {

    display: block;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    background-color: white;
    color: black;
}


/* CONTENT */

main {

    background-color: white;
    width: 100%;
    
    text-align: center;
    padding: 50px 0;
   
}

main p {

    width: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: justify;
}

main h2 {

    margin: auto;
    padding: 20px;
}



main section {

    margin-bottom: 20px;
}

#reader-attention-text {

    text-align: center;
    padding: 32px;
}

/* FOOTER */

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
    color: white;
}

/* Mobile media queries */

@media only screen and (max-width: 768px) {

    main p {

        width: 75%;
    }
    
}
